
@{
    ViewBag.Title = "Learn More About Intsika";
}

<div class="mx-0 p-0 about-hero middle">
    <div class="middle pt-5">
        <h1 class="mt-0 mx-auto shadowBrown main-heading text-uppercase pt-5">Learn more about us</h1>
        <img src="~/Content/images/about/header-line.svg" class="mx-0 w-75  img-fluid" />
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-5 borderBrown p-0">
            <img src="~/Content/images/about/about-section.png" class="mx-0 w-100  img-fluid" />
        </div>
        <div class="col-sm-7 middle px-0 py-5 borderBrown">
            <div class="container px-2 middle">
                <p class="shadowBrown text-center sub-heading-main px-3">
                    Intsika is a Non-Profit Organisation (“NPO”) started in 2016 in an attempt to address
                    the cycle of poverty in the Kuyga, Greenbushes area through the education and mentorship
                    of the children in the community.  Greenbushes is an area on the outskirts of the city
                    of Gqeberha (formerly Port Elizabeth) in the Eastern Cape region of South Africa. Kuyga
                    is the name of the community and specific area in Greenbushes where Instika Community
                    Projects works.
                </p>
                <p class="shadowBrown text-center sub-heading-main px-3">
                    Intsika was birthed out of a soup kitchen ministry in the Kuyga
                    Greenbushes informal settlement that was run by Emmanuel Church members
                    back in 2011. A weekly Friday Kids Club ministry was formed shortly thereafter.
                    In 2016 this ministry was registered as a Non-Profit Organisation (NPO), then taking
                    the form of Intsika Community Projects; which continues to be a ministry of Emmanuel
                    Church together with our partner church, REACH Summerstrand.
                </p>
            </div>
        </div>
    </div>
</div>


@*====================================================Values Section===============================*@

<div class="container px-2 middle py-5">
    <h2 class="h1 text-capitalize main-heading w-100 text-center brown pt-5">Our Values</h2>
    <div class="curve-teal w-100"></div>
    <div class="row py-5">
        <div class="col-sm-3 middle px-5">
            <img src="~/Content/images/about/v-cross.png" class="mx-0 w-100  img-fluid" />
            <p class="shadowBrown text-center text-uppercase sub-heading mt-5 ">Gospel centred</p>
        </div>
        <div class="col-sm-3 middle px-5">
            <img src="~/Content/images/about/v-ethical.png" class="mx-0 w-100  img-fluid" />
            <p class="shadowBrown text-center text-uppercase sub-heading mt-5 ">Ethical</p>
        </div>
        <div class="col-sm-3 middle px-5">
            <img src="~/Content/images/about/v-acc.png" class="mx-0 w-100  img-fluid" />
            <p class="shadowBrown text-center text-uppercase sub-heading mt-5 ">Accountability</p>
        </div>
        <div class="col-sm-3 middle px-5">
            <img src="~/Content/images/about/v-int.png" class="mx-0 w-100  img-fluid" />
            <p class="shadowBrown text-center text-uppercase sub-heading mt-5 ">Integrity</p>
        </div>

    </div>
</div>

@*====================================================vision Mission Section===============================*@
<div class="container-fluid bgTealSt">
    <div class="row ">
        <div class="col-sm-6 borderTealSt p-0">
            <img src="~/Content/images/about/mission.png" class="mx-0 w-100  img-fluid" />
            <div class="bgTealSt">
                <p class="text-white text-center sub-heading-main px-3 py-5">
                    Intsika is a Non-Profit Organisation (“NPO”) started in 2016 in an attempt to address
                    the cycle of poverty in the Kuyga, Greenbushes area through the education and mentorship
                    of the children in the community.  Greenbushes is an area on the outskirts of the city
                    of Gqeberha (formerly Port Elizabeth) in the Eastern Cape region of South Africa. Kuyga
                    is the name of the community and specific area in Greenbushes where Instika Community
                    Projects works.
                </p>
            </div>

        </div>
        <div class="col-sm-6 middle px-0 borderTealSt">
            <div class="bgTealSt">
                <p class="text-white text-center sub-heading-main px-3 py-5">
                    Intsika is a Non-Profit Organisation (“NPO”) started in 2016 in an attempt to address
                    the cycle of poverty in the Kuyga, Greenbushes area through the education and mentorship
                    of the children in the community.  Greenbushes is an area on the outskirts of the city
                    of Gqeberha (formerly Port Elizabeth) in the Eastern Cape region of South Africa. Kuyga
                    is the name of the community and specific area in Greenbushes where Instika Community
                    Projects works.
                </p>
            </div>
            <img src="~/Content/images/about/vision.png" class="mx-0 w-100  img-fluid" />
        </div>
    </div>
</div>


@*====================================================Board Members Section===============================*@
<div class="container px-2 middle py-5">
    <h2 class="h1 text-capitalize main-heading w-100 text-center brown pt-5">Our Board Members</h2>
    <div class="curve-teal w-100 mb-5"></div>
    <div class="container bgDarkBrown mt-5" style="width: 85% !important;">
        <div class="row py-5 px-2">
            @*row 1*@
            <div class="col-sm-4 middle px-5">
                <img src="~/Content/images/about/bm-1.png" class="mx-0 w-100  img-fluid" />
                <p class="text-white text-center text-uppercase sub-heading mt-2">Chairman <br/> Willie Kingsley</p>
            </div>
            <div class="col-sm-4 middle px-5">
                <img src="~/Content/images/about/bm-2.png" class="mx-0 w-100  img-fluid" />
                <p class="text-white text-center text-uppercase sub-heading mt-2">Vice Chairman <br />  Lungisani Mbhele</p>
            </div>
            <div class="col-sm-4 middle px-5">
                <img src="~/Content/images/about/sv.png" class="mx-0 w-100  img-fluid" />
                <p class="text-white text-center text-uppercase sub-heading mt-2">Treasurer <br /> Sven Ruppelt</p>
            </div>
            @*row 2*@
            <div class="col-sm-4 middle px-5">
                <img src="~/Content/images/about/lisaF.png" class="mx-0 w-100  img-fluid" />
                <p class="text-white text-center text-uppercase sub-heading mt-2">Secretary <br /> Lisa Freercks</p>
            </div>
            <div class="col-sm-4 middle px-5">
                <img src="~/Content/images/about/bm-5.png" class="mx-0 w-100  img-fluid" />
                <p class="text-white text-center text-uppercase sub-heading mt-2">Kyle Barrow</p>
            </div>
            <div class="col-sm-4 middle px-5">
                <img src="~/Content/images/about/andre.png" class="mx-0 w-100  img-fluid" />
                <p class="text-white text-center text-uppercase sub-heading mt-2">Andre Kruger</p>
            </div>
            @*row 3*@
            <div class="col-sm-4 middle px-5">
                <img src="~/Content/images/about/bm-7.png" class="mx-0 w-100  img-fluid" />
                <p class="text-white text-center text-uppercase sub-heading mt-2">Quentin Sims</p>
            </div>
            <div class="col-sm-4 middle px-5">
                <img src="~/Content/images/about/j.png" class="mx-0 w-100  img-fluid" />
                <p class="text-white text-center text-uppercase sub-heading mt-2">Janine Ruppelt</p>
            </div>
            <div class="col-sm-4 middle px-5">
                <img src="~/Content/images/about/bm-9.png" class="mx-0 w-100  img-fluid" />
                <p class="text-white text-center text-uppercase sub-heading mt-2">Egnes Kandiye</p>
            </div>
        </div>
    </div>
</div>

