body {
    font-family: 'Noto Sans JP', sans-serif !important;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

a {
    text-decoration: none !important;
    color: #1E0F00;
    cursor: pointer;
}

    a:hover {
        color: #381B00;
        /*transform: scale(1.1)*/
    }

.imgLink {
    cursor: pointer;
    transition: transform .5s ease-in-out .05s;
}

    .imgLink:hover {
        transform: scale(1.1);
    }

.imgGrow {
    cursor: pointer;
    transition: transform .5s ease-in-out .05s;
    opacity: 0.5;
}

    .imgGrow:hover {
        transform: scale(1.25);
        opacity: 1;
        z-index: 5;
    }

.brownLink {
    color: #653910 !important;
}

    .brownLink:hover {
        color: #381B00 !important;
    }

/*===========================Pages Heros============================*/
.home-hero {
    background-image: url('/Content/images/home/home-hero.png');
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}
.about-hero {
    background-image: url('/Content/images/about/about-hero.png');
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}
.programmes-hero {
    background-image: url('/Content/images/Programmes/carols.png');
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}

.donate-hero {
    background-image: url('/Content/images/Donation/hero-img.png');
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}

.contact-hero {
    background-image: url('/Content/images/Contact/outreach-img.png');
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}




/*===========================Responsive Padding============================*/
.pt-galleries {
    padding-top: 4rem !important;
}

/*====================Small Phones==================*/
@media screen and (max-width: 411px) {
    .pt-galleries {
        padding-top: 0rem !important;
    }
}
/*==================================Widths============================*/
.w-5 {
    width: 5% !important;
}

.w-80 {
    width: 80% !important;
}

.w-90 {
    width: 90% !important;
}

.w-50-sm {
    width: 50% !important;
}

@media screen and (max-width: 820px) {
    .w-50-sm {
        width: 100% !important;
        padding: 0 0.5rem !important;
    }
}
/*==================================Scroll Bar============================*/
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #00332E;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #046865;
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #1E0F00;
    }


/*==================================Border Colours============================*/
.borderBrown {
    border: 5px solid #653910;
}

.borderBrown-sm {
    border: 1px solid #653910;
}

.borderDarkBrown {
    border: 5px solid #1E0F00;
}

.borderOrange {
    border: 5px solid #FA7921;
}

.borderTeal {
    border: 5px solid #00CBB5;
}

.borderTealSt {
    border: 5px solid #046865;
}
/*==================================Background Colours============================*/
.bgDarkTeal {
    background: #00332E !important;
}

.bgTeal {
    background: #00CBB5 !important;
}

.bgTealSt {
    background: #046865 !important;
}

.bgTealSt-10percent {
    background: #0468651a !important;
}

.bgDarkBrown {
    background: #1E0F00 !important;
}

.bgBrown {
    background: #653910 !important;
}

.bgOrange {
    background: #FA7921 !important;
}


/*======================================Input field=================================*/
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #653910 !important;
    opacity: 0.5 !important; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #653910 !important;
    opacity: 0.5 !important;
}

/*========================================Colours=================================*/
/*Text*/
.shadowBrown {
    color: #1E0F00 !important;
}

.brown {
    color: #653910 !important;
}

.tealDark {
    color: #00332E !important;
}
/*====================================NavBar===================================*/
.circle-icon {
    width: 17px;
    height: 18px;
    border-radius: 50%;
    background: #1E0F00 !important;
}

.navbar-bg {
    background-color: #00000000;
}

@media screen and (max-width: 820px) {
    .navbar-bg {
        background-color: #ffffffb8;
    }
}


.nav-item {
    padding: 0 0.5rem;
}

.fixed-top {
    position: absolute !important;
}

.navbar .navbar-nav .nav-link {
    color: #1E0F00;
    font-size: 1.1em;
    cursor: pointer;
}

    .navbar .navbar-nav .nav-link:hover {
        color: #808080;
    }

.navbar-logo-centered .navbar-nav .nav-link {
    padding: .5em 1em;
}

.mainLogo {
    height: 11.25rem;
}


/*========================================Clip Content================================= */
.clipContent {
    height: 60vh;
    overflow-y: scroll;
}

.clipContent-90vh {
    height: 90vh;
    overflow-y: scroll;
}

/*========================================Text================================= */
.line-orange {
    border-top: 5px solid #FA7921;
}

.line-brown {
    border-top: 5px solid #653910;
}

.line-teal {
    border-top: 5px solid #00CBB5;
}

.curve-brown {
    height: 60px;
    border: solid 5px #653910;
    border-color: #653910 transparent transparent transparent;
    border-radius: 60%/60px 60px 0 0;
}

.curve-teal {
    height: 60px;
    border: solid 5px #00CBB5;
    border-color: #00CBB5 transparent transparent transparent;
    border-radius: 60%/60px 60px 0 0;
}

.curve-orange {
    height: 60px;
    border: solid 5px #FA7921;
    border-color: #FA7921 transparent transparent transparent;
    border-radius: 60%/60px 60px 0 0;
}



.fontBlack {
    font-weight: 900;
}

.main-heading {
    font-size: 3.5rem !important;
    font-family: 'Noto Sans JP', sans-serif !important;
    font-weight: bold !important;
}

.main-subhead {
    font-size: 2rem !important;
    font-family: 'Noto Sans JP', sans-serif !important;
}

.heading {
    font-size: 1.8rem !important;
}

.sub-heading-main {
    font-size: 1.5rem !important;
    font-family: 'Noto Sans JP', sans-serif !important;
}

.sub-heading {
    font-size: 1.1rem !important;
}

.base-font {
    font-size: 1rem !important;
}

.icon {
    font-size: 0.6rem !important;
}
/*=======================Tablet=====================*/
@media screen and (max-width: 1280px) {
    .main-heading {
        font-size: 2.8rem !important;
        font-family: 'Noto Sans JP', sans-serif !important;
        font-weight: bold !important;
    }

    .main-subhead {
        font-size: 1.5rem !important;
        font-family: 'Noto Sans JP', sans-serif !important;
    }

    .heading {
        font-size: 1.5rem !important;
    }

    .sub-heading-main {
        font-size: 0.8rem !important;
    }

    .sub-heading {
        font-size: 1rem !important;
    }

    .base-font {
        font-size: 0.8rem !important;
    }
}

/*=======================Phones=====================*/
@media screen and (max-width: 768px) {
    .main-heading {
        font-size: 1.5rem !important;
        font-family: 'Noto Sans JP', sans-serif !important;
        font-weight: bold !important;
    }

    .main-subhead {
        font-size: 1.1rem !important;
        font-family: 'Noto Sans JP', sans-serif !important;
    }

    .heading {
        font-size: 1.1rem !important;
    }

    .sub-heading-main {
        font-size: 0.8rem !important;
    }
}

/*====================Small Phones==================*/
@media screen and (max-width: 411px) {
    .sub-heading-main {
        font-size: 0.5rem !important;
    }
}

/*====================XSmall Phones==================*/
@media screen and (max-width: 280px) {
    .main-heading {
        font-size: 1.2rem !important;
        font-family: 'Noto Sans JP', sans-serif !important;
        font-weight: 900 !important;
    }

    .main-subhead {
        font-size: 0.5rem !important;
        font-family: 'Noto Sans JP', sans-serif !important;
    }

    .sub-heading-main {
        font-size: 0.4rem !important;
    }

    .sub-heading {
        font-size: 0.65rem !important;
    }

    .base-font {
        font-size: 0.5rem !important;
    }
}

/*========================================Buttons================================= */
btn {
    border-radius: 3px !important;
    text-transform: capitalize;
}

.btnMain {
    background: #653910 !important;
    box-shadow: 8px 8px 16px #03071f61;
    font-size: 1rem !important;
    font-weight: bold !important;
    color: #fff !important;
    padding-left: 2rem !important;
    padding-right: 2rem !important;
}

    .btnMain:hover {
        background: #43260A !important;
        color: #fff;
    }

.btnSecondary {
    background: #FA7921 !important;
    box-shadow: 8px 8px 16px #0a10364a;
    font-size: 1rem !important;
    font-weight: bold !important;
    color: #fff !important;
    padding-left: 2rem !important;
    padding-right: 2rem !important;
}

    .btnSecondary:hover {
        background: #B95B1B !important;
        color: #fff !important;
    }

.btnSuccess {
    background: #046865 !important;
    box-shadow: 8px 8px 16px #50060561;
    font-size: 1rem !important;
    font-weight: bold !important;
    color: #fff !important;
    padding-left: 2rem !important;
    padding-right: 2rem !important;
}

    .btnSuccess:hover {
        background: #00332E !important;
    }


p {
    font-family: 'Noto Sans JP', sans-serif !important;
}

.noto-sans {
    font-family: 'Noto Sans JP', sans-serif !important;
}

.footerForm {
    border-radius: 30px 0px 0px 30px;
}

.inputFields {
    border: 1px solid #653910 !important;
    color: #653910 !important;
}

    .inputFields:focus {
        color: #1e0f009c;
        background-color: #fff;
        border-color: #653910;
        outline: 0;
        box-shadow: 0 0 0 0.2rem #65391038;
    }

.footerSiteMap {
    border-radius: 0px 30px 30px 0px;
}

.footerSections {
    height: 18rem;
}


/*=======================================align====================================*/
.middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.middle-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.middle-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.right {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    text-align: right;
}