@{
    ViewBag.Title = "Home Page";
}

<div class="mx-0 p-0 home-hero">
    <div class="container">
        <div class="row">
            <div class="col-sm-6" style="padding-top: 18rem;">
                <h1 class="main-heading text-uppercase shadowBrown">Intsika</h1>
                <h2 class="main-subhead text-uppercase font-weight-bold shadowBrown">Community Projects</h2>
                <h2 class="brown text-capitalize main-subhead">Caringly Equipping Vulnerable Communities</h2>
                <div class="d-flex justify-content-between">
                    <a href="https://localhost:44302/#get-involved">
                        <img src="~/Content/images/home/get-involved-icon.png" class="w-100 img-fluid imgLink" alt="Get Involved" />
                    </a>
                    <a href="/Programmes">
                        <img src="~/Content/images/home/programmes-icon.png" class="w-100 img-fluid imgLink" alt="Programmes" />
                    </a>
                    <a href="/Donation">
                        <img src="~/Content/images/home/donate-icon.png" class="w-100 img-fluid imgLink" alt="Donate" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-8 middle p-0">
            <img src="~/Content/images/home/home-about-img.png" class="mx-0 w-100  img-fluid" />
        </div>

        <div class="col-sm-4 middle py-2" style="background: #161415;">
            <div class="container px-2 middle">
                <h2 class="h1 text-capitalize main-subhead w-100 text-center text-white pt-5">About Us</h2>
                <div class="curve-teal w-100"></div>
                <p class="text-white text-center sub-heading-main px-3">
                    Intsika Community Projects is a Gospel-Centred registered
                    Non-Profit Organisation which started in January 2016 in
                    an attempt to address the cycle of poverty in the Greenbushes
                    area in Gqeberha through education and mentorship of children
                    in the community.
                </p>
                <a href="/About" class="btn btnSuccess mx-auto mb-2">Learn More</a>
            </div>
        </div>
    </div>
    <div class="row bgDarkTeal middle" style="height: 5rem;">
        <h1 class="mt-0 mx-auto text-white main-heading text-capitalize ">What We Are Involved In</h1>
    </div>
    <div class="row borderOrange">
        <div class="col-sm-8 middle py-5">
            <h2 class="main-subhead text-uppercase font-weight-bolder shadowBrown">Homework Club</h2>
            <div class="line-orange w-75"></div>
        </div>
        <div class="col-sm-4 d-flex flex-row-reverse p-0">
            <div class="d-flex flex-row-reverse">
                <img src="~/Content/images/home/homework-home.png" class="mx-0 img-fluid pt-1" style="height: 30vh" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-7 middle py-5  borderTeal">
            <h2 class="main-subhead text-uppercase font-weight-bolder shadowBrown">Mentorship &</h2>
            <div class="line-teal w-75"></div>
            <h2 class="main-subhead text-uppercase font-weight-bolder shadowBrown">Support to the youth</h2>
        </div>
        <div class="col-sm-5 middle p-0 borderTeal">
            <div class="container px-0 middle">
                <img src="~/Content/images/home/youth.png" class="mx-0 img-fluid" />
            </div>
        </div>
    </div>
    <div class="row borderBrown">
        <div class="col-sm-4 middle px-0">
            <div class="container px-0 middle">
                <img src="~/Content/images/home/outreach-home.png" class="mx-0 img-fluid" />
            </div>
        </div>
        <div class="col-sm-8 middle pt-5">
            <h2 class="main-subhead text-uppercase font-weight-bolder shadowBrown">Community Outreach</h2>
            <div class="line-brown w-75"></div>
            <a href="/About" class="btn btnMain mx-auto mt-4 mb-2">Explore Programmes</a>
        </div>

    </div>
    @*====================================================Make A difference Section===============================*@
    <div class="row">
        <div class="col-sm-7 middle p-0">
            <h1 class="mt-0 mx-auto shadowBrown main-heading text-center text-capitalize px-5 pt-5 "> Help Us Make A Difference</h1>
            <img src="~/Content/images/home/help-home.png" class="mx-0 w-100  img-fluid" />
        </div>

        <div class="col-sm-5 middle p-0 bgDarkTeal">
            <div class="container px-2 middle">
                <h2 class="h1 text-capitalize main-subhead w-100 text-center text-white pt-5">Did You Know?</h2>
                <div class="curve-teal w-100"></div>
                <div class="clipContent mb-5">
                    <p class="text-white text-center sub-heading-main px-3">
                        Most of the community in Greenbushes (a township located
                        on the outskirts of Port Elizabeth) live in extreme poverty.
                        Many struggling parents do not have the means to sufficiently
                        provide for their families, let alone afford school fees! Due
                        to the extreme economic pressures, alcohol and drug abuse is
                        big problem causing many children to grow up in very unstable environments.
                    </p>

                    <p class="text-white text-center sub-heading-main px-3">
                        Those who do go to school have little to no support from
                        home and school drop-out is a serious problem. Without proper
                        education, the chances of a child growing up, finding a decent
                        job and breaking out of the cycle of poverty are almost zero.
                    </p>
                    <p class="text-white text-center sub-heading-main px-3">
                        Our heart at Intsika is to give vulnerable children the opportunity
                        to receive the physical, emotional and educational support that they
                        need Through our weekly homework club, children’s outreach, Bible study
                        group and other community aid distribution projects, we seek to come
                        alongside the parents and to help lift the burdens which so heavily weigh
                        upon them. Together, we stand to fight against the vicious cycle of poverty
                        and see HOPE restored in a struggling community.
                    </p>
                </div>

                <a href="/Donation" class="btn btnSecondary mx-auto mb-2">Donate</a>
            </div>
        </div>
    </div>
    @*====================================================My School Section===============================*@
    <div class="row">
        <div class="col-sm-4 middle p-0" id="get-involved">
            <div class="container px-2 middle">
                <h2 class="h1 text-capitalize main-subhead w-100 text-center shadowBrown pt-5">Get Involved</h2>
                <div class="curve-orange w-100"></div>
                <p class="shadowBrown text-center sub-heading-main px-3">
                    Get your free MySchool MyVillage MyPlanet card today to support
                    Insika Community Projects. If you already have a card please add
                    Insika Community Projects as one of your beneficiaries
                </p>
                <img src="~/Content/images/home/ms-card.png" class="mx-auto w-100 px-3 img-fluid" />
                <a href="https://www.myschool.co.za/" target="_blank" class="btn btnSecondary mx-auto mb-2">Sign Up</a>
                <a href="/Contact" class="mx-auto brownLink font-weight-bold">Contact Us For More Info </a>
            </div>
        </div>
        <div class="col-sm-8 middle p-0">
            <img src="~/Content/images/home/my-school.png" class="mx-0 w-100  img-fluid" />
        </div>
    </div>
</div>

@*====================================================Sponsors Section===============================*@

<div class="container px-2 middle py-5">
    <h2 class="h1 text-capitalize main-heading w-100 text-center brown pt-5">Thank you to our sponsors</h2>
    <div class="curve-orange w-100"></div>
    <div class="row py-5">
        <div class="col-sm-3 middle px-3">
            <img src="~/Content/images/home/sp-aa.png" class="mx-0 w-100  img-fluid" />
        </div>
        <div class="col-sm-3 middle px-3">
            <img src="~/Content/images/home/sp-em.png" class="mx-0 w-100  img-fluid" />
        </div>
        <div class="col-sm-3 middle px-3">
            <img src="~/Content/images/home/sp-ms.png" class="mx-0 w-100  img-fluid" />
        </div>
        <div class="col-sm-3 middle px-3">
            <img src="~/Content/images/home/sp-rsa.png" class="mx-0 w-100  img-fluid" />
        </div>
    </div>
</div>

