@{
    ViewBag.Title = "Home Page";
}

<div class="mx-0 p-0 home-hero">
    <div class="container">
        <div class="row">
            <div class="col-sm-6" style="padding-top: 12rem;">
                <h1 class="main-heading text-uppercase shadowBrown">Instika</h1>
                <h2 class="main-subhead text-uppercase font-weight-bold shadowBrown">Community Projects</h2>
                <h2 class="brown text-capitalize main-subhead">Caringly Equipping Vulnerable Communities</h2>
                <div class="d-flex justify-content-between">
                    <a href="#">
                        <img src="~/Content/images/home/get-involved-icon.png" class="w-100 img-fluid" alt="Get Involved" />
                    </a>
                    <a href="#">
                        <img src="~/Content/images/home/programmes-icon.png" class="w-100 img-fluid" alt="Programmes" />
                    </a>
                    <a href="#">
                        <img src="~/Content/images/home/donate-icon.png" class="w-100 img-fluid" alt="Donate" />
                    </a>
                </div>
            </div>
        </div>
    </div>


</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-8 middle p-0">
            <img src="~/Content/images/home/home-about-img.png" class="mx-0 w-100  img-fluid" />
        </div>

        <div class="col-sm-4 middle p-0" style="background: #161415;">
            <div class="container px-2 middle">
                <h2 class="h1 text-capitalize main-subhead w-100 text-center text-white pt-3">Join our newsletter</h2>
                <div class="curve-teal w-100"></div>
                <p class="text-white text-center">
                    Intsika Community Projects is a Gospel-Centred registered
                    Non-Profit Organisation which started in January 2016 in
                    an attempt to address the cycle of poverty in the Greenbushes
                    area in Gqeberha through education and mentorship of children
                    in the community.
                </p>
                <a href="/About" class="btn btnSuccess mx-auto">Learn More</a>
            </div>

        </div>
    </div>
    <div class="row bgDarkTeal" style="height: 5rem;">
        <h1 class="mt-0 mx-auto text-white main-heading text-capitalize ">What We Are Involved In</h1>
    </div>
</div>
