@{
    ViewData["Title"] = "Programmes";
}


<div class="container-fluid CenterContainer mb-5">
    <div>
        <img class="img-fluid" src="~/Content/Images/Programmes/Christmas Carols at Emmanuel.png" />

        <h1 class="main-heading text-uppercase setFontColorBrown setTextCentered"> STAY UP TO DATE</h1>

        <img class=" setCentered2 " src="~/Content/Images/Programmes/Vector_UpToDate.png" />
        <button class="btn setCenteredBottom shadow-lg" style="background-color: #046865; color:white; ">See Calender</button>
    </div>
</div>


<div class="container-fluid p-5 ">
    <center>
        <h1 class=" main-heading text-uppercase setFontColorBrown mb-5"> intsika Programmes</h1>
        <div>
            <img class="img-fluid mb-5" src="~/Content/Images/Contact/Vector36.png" />
        </div>
    </center>

    <div class="align-self-center text-center mb-5">
        <p style="font-size:32px; font-weight:400;">
            We currently run two homework clubs (Grade 1-3 & Grade 4-7),
            a Grade R Assistance class, an adult Bible Study Group and a Friday Children’s Outreach.
            During the year we also have various food and clothing drives
            to assist the community as resources allow.
            Our community outreach also includes assisting two partnering crèches
            in the Greenbushes area namely, Siyazama Playschool and
            Kids Hope Day Care. Our aim is to help provide these crèches with
            a better learning environment and assist with any practical needs
            when resources allow.
        </p>
    </div>
    <div class="align-self-center middle">
        <h2 class="">our weekly schedule:</h2>
        <div class="container-fluid middle">
            <img src="~/Content/Images/Programmes/image 20.png" class="img-fluid" />
        </div>
    </div>

</div>




