@{
    ViewBag.Title = "Donation";
}

<div class="container-fluid p-3 CenterContainer">
    <center>
    <img class="img-fluid" style="width:100%" src="~/Content/Images/Donation/Distributing masks and sanitising at our Friday Kids Outreach 1.png" />
    </center>
    <div class="row p-3 mt-5">
        <div class="text-block p-5 mt-5 ">
            <h1 class="main-heading shadowBrown text-uppercase mt-5">Donate</h1>
            <img class="img-fluid  p-5" style="width:100%" src="~/Content/Images/Donation/Vector27.png" />
            <p class="mainFont">
                Intsika Community Projects operates solely<br />
                on the generous donations from individuals and <br />
                organisations and welcomes partnerships and <br />
                interest to help sustain its work. Please contact <br />
                our Project Manager,Laura Goosen, for more<br />
                information at +27 72 803 6145.<br />
                <button class="btn mt-3 mb-2 px-5 mr-2 shadow-lg" style="background-color: #653910; color: white; font-size:27px">Donate </button>
            </p>

        </div>

    </div>
</div>

<div class="container-fluid">
    <center>
        <h1 class="h1 main-heading text-uppercase setFontColorBrown">Donation Methods</h1>
        <div class="container-fluid justify-content-center"><img class="img-fluid justify-content-center  mb-5" src="~/Content/Images/Contact/Vector36.png" /></div>
    </center>
    <div class="row p-5" style="background-color: #046865;">
        <div class="col">
            <center>
                <img class="img-fluid justify-content-center  mb-5" src="~/Content/Images/Donation/Group61.png" />
                <h1 class="main-heading shadowBrown text-uppercase setFontColorBrown">Financial gifts</h1>
                <p class="middle mainFont">
                    Your financial gift will help cover basic<br /> running costs which include salaries, petrol,<br />
                    educational material, food and stationery.<br />
                    Intsika is a registered Public Benefit<br />
                    Organisation (PBO: 930058127) which allows <br />
                    tax-deductibility for any monetary donations <br />
                    for donors (S18(a) certificates to be<br />
                    provided).
                </p>

            </center>
        </div>
        <div class="col p-5">

        </div>

    </div>

</div>