@{
    ViewBag.Title = "Donation";
}

<div class="container-fluid CenterContainer p-3">
    <center>
    <img class="img-fluid" style="width:100%" src="~/Content/Images/Donation/Distributing masks and sanitising at our Friday Kids Outreach 1.png" />
    </center>
   <div class=""></div>
        
            
            <h1 class="main-heading text-uppercase setFontColorBrown top-rightText mb-5">Donate</h1>
            <p class="top-righMiddle">Intsika Community Projects operates solely on the generous donations from individuals and organisations and welcomes partnerships and interest to help sustain its work. Please contact our Project Manager, Laura Goosen, for more information at +27 72 803 6145.</p>

       
    



</div>