@{
    ViewBag.Title = "Donate";
}

<div class="mx-0 p-0 donate-hero ">
    <div class="container right pt-5 px-0">
        <div class="pt-5 w-50-sm">
            <div class="middle pt-5">
                <h1 class="mt-3 mx-auto shadowBrown main-heading text-uppercase pt-5">Donate</h1>
                <img src="~/Content/images/Donation/orange-sm-line.svg" class="mx-0 w-100 img-fluid" />
                <p class="shadowBrown text-center sub-heading-main px-3 pt-1">
                    Intsika Community Projects operates solely on the generous donations from
                    individuals and organisations and welcomes partnerships and interest
                    to help sustain its work. Please contact our Project Manager, Laura Goosen,
                    for more information at <a href="tel:+27-72-803-6145">+27 72 803 6145</a>.
                </p>
                <a href="https://localhost:44302/Donation#donate" class="btn btnMain px-5 mb-5 mt-2 h5">Donate</a>
            </div>
        </div>
    </div>

</div>


<div class="container mb-5 middle" id="donate">
    <h1 class="h1 main-heading text-uppercase setFontColorBrown mt-5">Donation Methods</h1>
    <div class="container-fluid justify-content-center"><img class="img-fluid justify-content-center  mb-5" src="~/Content/Images/Contact/Vector36.png" /></div>
    <div class="row py-5 px-4 shadow-lg bgTealSt-10percent">
        <div class="col-sm middle">
            <img class="img-fluid justify-content-center w-25 mb-2" src="~/Content/Images/Donation/a.png" />
            <h1 class="main-subhead fontBlack shadowBrown text-uppercase ">Financial gifts</h1>
            <p class="middle sub-heading-main shadowBrown text-center">
                Your financial gift will help cover basic running costs which include salaries, petrol,
                educational material, food and stationery.
                Intsika is a registered Public Benefit
                Organisation (PBO: 930058127) which allows
                tax-deductibility for any monetary donations
                for donors (S18(a) certificates to be
                provided).
            </p>
        </div>
        <div class="col-sm p-5 middle bg-white">
            <div class="row pt-5 borderDarkBrown bg-white">
                <div class="col middle sub-heading-main bg-white">
                    <p class="sub-heading fontBlack shadowBrown text-center">
                        BANKING DETAILS<br />
                        <br />
                        ACCOUNT NAME: INTSIKA COMMUNITY PROJECTS NPO<br />
                        <br />
                        BANK: FNB    BRANCH CODE: 211417<br />
                        <br />
                        ACCOUNT NUMBER: 62657291705<br />
                        <br />
                        REFERENCE: INTSIKA<br />
                        <br />
                        SWIFT CODE: FIRNZAJJ<br />
                    </p>

                </div>


            </div>
        </div>
    </div>
</div>

<div class="container middle mb-5">
    <center>
        <div class="container-fluid justify-content-center">
            <img class="img-fluid justify-content-center  w-25 mb-2" src="~/Content/Images/Donation/b.png" />
            <h2 class="main-subhead fontBlack shadowBrown text-uppercase text-center">non-monetary donations:</h2>
        </div>
    </center>
    <div class="container-fluid justify-content-center middle">
        <h4 class="mb-0 pt-5 sub-heading-main text-uppercase shadowBrown">we currently Need:</h4>
        <img class="img-fluid justify-content-center  mb-5" src="~/Content/Images/Donation/needs.png" />

    </div>
</div>
<div class="container mb-5 middle">
   <div class="row py-5 px-4 shadow-lg bgTealSt-10percent">
        <div class="col-sm  middle">
            <img class="img-fluid justify-content-center w-25 mb-2" src="~/Content/Images/Donation/c.png" />
            <h4 class="main-subhead fontBlack shadowBrown text-uppercase text-center">Becoming a Monthly Partner:</h4>
            <p class="middle sub-heading-main shadowBrown text-center">
                As a monthly partner, you will receive regular newsletter updates
                and information regarding the work and ministry of Intsika. Your
                monthly gift will enable us to sustain the work in the community
                and bring lasting change. For more information please contact us.
            </p>
            <a href="/Contact" class="btn btnSuccess px-5 mb-5 mt-2 h5">Contact Us</a>
        </div>
        <div class="col-sm  p-5 middle bg-white">
            <div class="row pt-5 borderDarkBrown bg-white">
                <div class="col middle sub-heading-main bg-white">
                    <p class="sub-heading fontBlack shadowBrown text-center">
                        MONTHLY PARTNER OPTIONS<br />
                        <br />
                        R20 a month enables us to provide a child at our <br />
                        Homework Club with lunch sandwiches.<br />
                        <br />
                        R50 a month covers basic printing costs per child for<br />
                        class worksheets and additional<br />
                        homework exercises.<br />
                        <br />
                        R100 a month covers stationery purchases such as<br />
                        glue, paper, pencils and the like.<br />
                        <br />
                        R250 a month provides needed cleaning materials and<br />
                        PPE to keep our facility sanitized & safe.<br />
                        <br />
                        R450 a month covers our monthly ADT security bill.<br />
                        <br />
                        R1000 a month covers fuel for our Intsika staff.<br />
                        <br />
                        R10 000 a month covers salary costs of our Intsika staff.<br />
                        <br />
                    </p>

                </div>


            </div>
        </div>
    </div>
</div>
<div class="container mb-5 middle">
    <div class="row w-100 py-5 px-4">
        <div class="col-sm-6 middle">
            <img src="~/Content/images/home/ms-card.png" class="mx-auto w-100 px-3 img-fluid" />
        </div>
        <div class="col-sm-6  middle">
            <img class="img-fluid justify-content-center w-25  mb-2" src="~/Content/Images/Donation/d.png" />
            <h4 class="main-subhead fontBlack shadowBrown text-uppercase text-center">My school card:</h4>
            <a href="https://www.myschool.co.za/" target="_blank" class="btn btnSuccess px-5 mb-5 mt-2 h5">Sign Up Now</a>
        </div>
    </div>
</div>


