@{
    ViewBag.Title = "Donation";
}

<div class="container-fluid p-3 CenterContainer">
    <center>
    <img class="img-fluid" style="width:100%" src="~/Content/Images/Donation/Distributing masks and sanitising at our Friday Kids Outreach 1.png" />
    </center>
    <div class="row p-3 mt-5">
        <div class="text-block p-5 mt-5 ">
            <h1 class="main-heading shadowBrown text-uppercase mt-5">Donate</h1>
            <img class="img-fluid  p-5" style="width:100%" src="~/Content/Images/Donation/Vector27.png" />
            <p class="mainFont">
                Intsika Community Projects operates solely<br />
                on the generous donations from individuals and <br />
                organisations and welcomes partnerships and <br />
                interest to help sustain its work. Please contact <br />
                our Project Manager,Laura Goosen, for more<br />
                information at +27 72 803 6145.<br />
                <button class="btn mt-3 mb-2 px-5 mr-2 shadow-lg" style="background-color: #653910; color: white; font-size:27px">Donate </button>
            </p>

        </div>

    </div>
</div>

<div class="container-fluid mb-5">
    <center>
        <h1 class="h1 main-heading text-uppercase setFontColorBrown">Donation Methods</h1>
        <div class="container-fluid justify-content-center"><img class="img-fluid justify-content-center  mb-5" src="~/Content/Images/Contact/Vector36.png" /></div>
    </center>
    <div class="row p-5 shadow-lg" style="background-color: lightblue;">
        <div class="col">
            <center>
                <img class="img-fluid justify-content-center  mb-5" src="~/Content/Images/Donation/Group61.png" />
                <h1 class="main-heading shadowBrown text-uppercase setFontColorBrown">Financial gifts</h1>
                <p class="middle mainFont">
                    Your financial gift will help cover basic<br /> running costs which include salaries, petrol,<br />
                    educational material, food and stationery.<br />
                    Intsika is a registered Public Benefit<br />
                    Organisation (PBO: 930058127) which allows <br />
                    tax-deductibility for any monetary donations <br />
                    for donors (S18(a) certificates to be<br />
                    provided).
                </p>
                
            </center>
        </div>
        <div class="col p-5 "style="background-color:white;">
        <div class="row p-5 borderBrown border-dark"style="background-color:white;" >
            <div class="col middle mainFont" style="background-color:white;">
                <p>


                    BANKING DETAILS<br />
                    <br />
                    ACCOUNT NAME: INTSIKA COMMUNITY PROJECTS NPO<br />
                    <br />
                    BANK: FNB    BRANCH CODE: 211417<br />
                    <br />
                    ACCOUNT NUMBER: 62657291705<br />
                    <br />
                    REFERENCE: INTSIKA<br />
                    <br />
                    SWIFT CODE: FIRNZAJJ<br />
                </p>

            </div>
             

         </div>
        </div>
    </div>
</div>

<div class="container-fluid middle mb-5">
    <center>
        <div class="container-fluid justify-content-center"><img class="img-fluid justify-content-center  mb-5" src="~/Content/Images/Donation/Group62.png" />
        <h1 class="h1 main-heading text-uppercase setFontColorBrown shadowBrown ">non-monetary donation:</h1>
        </div>
    </center>
    <div class="container-fluid justify-content-center middle">
        <h1 class="h1 mainFont text-uppercase setFontColorBrown shadowBrown ">non-monetary donation:</h1>
        <img class="img-fluid justify-content-center  mb-5" src="~/Content/Images/Donation/image 17.png" />

    </div>
</div>


<div class="container-fluid mb-5">
    <div class="row p-5 shadow-lg" style="background-color: lightblue;">
        <div class="col">
            <center>
                <img class="img-fluid justify-content-center  mb-5" src="~/Content/Images/Donation/Ellipse18.png" />
                <h1 class="main-heading shadowBrown text-uppercase setFontColorBrown">Become a monthly <br />partner:</h1>
                <p class="middle mainFont mb-5">
                    As a monthly partner, you will receive<br />
                    regular newsletter updates<br />
                    and information regarding the work and <br />
                    ministry of Intsika. Your<br />
                    monthly gift will enable us to sustain the work<br />
                    in the community<br />
                    and bring lasting change. For more <br />
                    information please contact us.
                </p>
                <button class="btn mt-5 mb-2 px-5 mr-2 shadow-lg " style="background-color: #046865; color:white; font-size:27px;">Contact Us </button>
            </center>
        </div>
        <div class="col p-5 " style="background-color:white;">
            <div class="row p-5 borderBrown" style="background-color:white;">
                <div class="col middle mainFont " style="background-color:white;">
                    <p>


                        MONTHLY PARTNER OPTIONS<br />
                        <br />
                        R20 a month enables us to provide a child at our <br />
                        Homework Club with lunch sandwiches.<br />
                        <br />
                        R50 a month covers basic printing costs per child for<br />
                        class worksheets and additional<br />
                        homework exercises.<br />
                        <br />
                        R100 a month covers stationery purchases such as<br />
                        glue, paper, pencils and the like.<br />
                        <br />
                        R250 a month provides needed cleaning materials and<br />
                        PPE to keep our facility sanitized & safe.<br />
                        <br />
                        R450 a month covers our monthly ADT security bill.<br />
                        <br />
                        R1000 a month covers fuel for our Intsika staff.<br />
                        <br />
                        R10 000 a month covers salary costs of our Intsika staff.<br />
                        <br />
                    </p>

                </div>


            </div>
        </div>
    </div>
</div>

