@{
    ViewBag.Title = "Contact Us";

}


<div class="mx-0 p-0 contact-hero middle">
    <div class="middle pt-5">
        <h1 class="mt-0 mx-auto shadowBrown main-heading text-uppercase pt-5">reach out to us</h1>
        <img src="~/Content/images/Contact/teal-line.svg" class="mx-0 w-75  img-fluid" />
        <a href="https://localhost:44302/Contact#contact" class="btn btnSuccess px-5 mb-5 mt-2 h5">Contact Us</a>
    </div>
</div>

<div class="container-fluid p-5 ">
    <center>
        <h1 class="main-heading text-uppercase setFontColorBrown mt-5">our Frequently asked Questions</h1>
        <div>
            <img class="img-fluid mb-5" src="~/Content/Images/Contact/Vector36.png" />
        </div>
    </center>
    <center>
        <div class="row text-left clipContent-90vh">
            <div class="col-sm ">
                <button class="accordion">Who is Intsika?</button>
                <div class="panel">
                    <p>Intsika is a Non-Profit Organisation (“NPO”) started in 2016 in an attempt to address the cycle of poverty in the Kuyga, Greenbushes area through the education and mentorship of the children in the community. </p>
                </div>
                <button class="accordion">Where is Greenbushes?</button>
                <div class="panel">
                    <p>Greenbushes is an area on the outskirts of the city of Gqeberha (formerly Port Elizabeth) in the Eastern Cape region of South Africa.</p>
                </div>
                <button class="accordion">What or where is Kuyga?</button>
                <div class="panel">
                    <p>Kuyga is the name of the community and specific area in Greenbushes where Instika Community Projects works.</p>
                </div>

                <button class="accordion">What are the coordinates of Kuyga, Greenbushes??</button>
                <div class="panel">
                    <p>
                        Latitude: -33.9133968<br />
                        Longitude: 25.44908103
                    </p>
                </div>

                <button class="accordion">Does Intsika own a property?</button>
                <div class="panel">
                    <p>
                        Yes, in 2018 Intsika purchased a property in Kuyga, Greenbushes with physical address: 60 Nkanjeni Drive, Greenbushes, Gqeberha, 6390.
                        On the property we have a small house and also a “wendy-house” classroom building from which we run our various programmes.
                    </p>
                </div>

                <button class="accordion">What does “Intsika” mean?</button>
                <div class="panel">
                    <p>
                        “Intsika” is a Xhosa word meaning the strongest pole or poles that support a structure. Its literal translation is “our pillar”. See our logo.
                    </p>
                </div>

                <button class="accordion">Is Intsika a PBO (Public Benefit Organisation)?</button>
                <div class="panel">
                    <p>
                        Yes, Intsika is a registered Public Benefit Organisation (PBO: 930058127) since May 2017, which allows tax-deductibility for any monetary donations for donors. Section 18(a) certificates are available upon request.
                    </p>
                </div>

                <button class="accordion">Does Intsika have a Board of directors?</button>
                <div class="panel">
                    <p>
                        Yes, Intsika Community Projects have a governing Board consisting of 8 members who meets 5 times a year. Intsika is affiliated with REACH-SA Christian Church denomination and closely works with Emmanuel Church Lorraine and REACH Summerstrand. The board members are also members of these congregations with varied experience and skills to contribute to the impact and sustainability of the organisation.
                    </p>
                </div>
                <button class="accordion">Who are the management team of Intsika?</button>
                <div class="panel">
                    <p>
                        Intsika has a full-time project manager who oversees the management of the various programmes. Effective January 2022, Intsika also employs a part time qualified Foundation Phase teacher who leads the Homework Clubs and Grade R. Assistance Class. Our adult Bible Study and Friday outreach are led by staff and members of our affiliated churches. Intsika also has a number of volunteers who help out on various levels.
                    </p>
                </div>


            </div>
            <div class="col-sm">
                <button class="accordion">What programmes do you run?</button>
                <div class="panel">
                    <p>
                        We currently run two homework clubs (Grade 1-3 & Grade 4-7), a Grade R Assistance class, an adult Bible Study Group and a Friday Children’s Outreach.
                        During the year we also have various food and clothing drives to assist the community as resources allow.
                        Our community outreach also includes assisting two partnering crèches in the Greenbushes area namely, Siyazama Playschool and Kids Hope Day Care. Our aim is to help provide these crèches with a better learning environment and assist with any practical needs when resources allow.

                    </p>
                </div>

                <button class="accordion">Can I volunteer?</button>
                <div class="panel">
                    <p>Yes, volunteer opportunities are available to assist with our various programmes. Further information available – Contact us via email: intsikacp@gmail.com or WhatsApp/Call: 0728036145. </p>
                </div>
                <button class="accordion">How old must I be to volunteer?</button>
                <div class="panel">
                    <p>The recommended age to volunteer is 14+ (high school students and older).</p>
                </div>
                <button class="accordion">Can I support Intsika through donations?</button>
                <div class="panel">
                    <p>We welcome donations of food, clothing (children and adult), stationery and educational toys (new or pre-loved).</p>
                </div>
                <button class="accordion">What is your Vision?</button>
                <div class="panel">
                    <p>A gospel-centred organisation caringly building sustainable stepping stones through developing relationships with vulnerable communities.</p>
                </div>

                <button class="accordion">What is our Mission?</button>
                <div class="panel">
                    <p>Being a blessing to vulnerable communities by holistically equipping them to become valuable members of society.</p>
                </div>

                <button class="accordion">What is your origin?</button>
                <div class="panel">
                    <p>Intsika was birthed out of a soup kitchen ministry in the Kuyga Greenbushes informal settlement that was run by Emmanuel Church members back in 2011. A weekly Friday Kids Club ministry was formed shortly thereafter. In 2016 this ministry was registered as a Non-Profit Organisation (NPO), then taking the form of Intsika Community Projects; which continues to be a ministry of Emmanuel Church together with our partner church, REACH Summerstrand.</p>
                </div>
                <button class="accordion">What are your values?</button>
                <div class="panel">
                    <p>
                        •	Gospel centred
                        •	Ethical
                        •	Accountability
                        •	Integrity
                    </p>
                </div>
            </div>
        </div>
    </center>
</div>
@*===========================================form======================================*@
<h2 class="h1 text-capitalize main-heading w-100 text-center brown pt-5">Reach Out To Us</h2>
<div class="curve-teal w-90 px-5 mx-auto"></div>
<div class="container mb-5 mt-5 px-2">
    <div class="row borderBrown-sm">
        <div class="col-sm-6">
            <div class="container pt-4" id="contact">
                <form id="contactform" method="post" action="SendEmail"
                      enctype="application/x-www-form-urlencoded">
                    <div class="col column-border2  styleContact">
                        <center>
                            <div class="row px-2 text-left main">
                                <div class="col mt-5 ">
                                    <label class="brown">First name:</label><br>
                                    <input class="form-control styleContact inputFields" type="text" name="FirstName" placeholder="FirstName" required>
                                </div>
                                <div class="col mt-5 ">
                                    <label class="brown">Last name:</label><br>
                                    <input class="form-control main inputFields" type="text" name="LastName" placeholder="LastName" required>
                                </div>
                            </div>
                            <div class="row px-2 mt-3 text-left">
                                <div class="col ">
                                    <label class="brown">Email:</label><br>
                                    <input class="form-control main inputFields" type="email" name="Email" placeholder="Email" required>
                                </div>
                                <div class="col ">
                                    <label class="brown">Contact:</label><br>
                                    <input class="form-control main inputFields" type="tel" pattern="[0-9]{3} [0-9]{3} [0-9]{4}" maxlength="12" title="Ten digits code" name="Contact" placeholder="082 000 000" onkeypress="phoneMask()" required>
                                </div>
                            </div>
                        </center>
                        <div class="text-left pt-5">
                            <label class="font-weight-bold setFontColorBrown">Message:</label>
                            <textarea class="form-control inputFields px-2 py-4 m-0 text-left" style="width:100%; height:125px;" name="Message" placeholder="Message..." required></textarea>
                        </div>

                        <div class="w-100 p-0 d-flex justify-content-end">
                            <button class="btn btnSuccess mt-3 mb-5 px-5 w-25" type="submit" value="Send">Send</button>
                        </div>

                    </div>
                </form>
            </div>
        </div>
        <div class="col-sm-6 ">
            <div class="row borderBrown-sm ">
                <div class="col-sm-4 middle bgBrown  p-2">
                    <img class="img-fluid" src="~/Content/Images/Contact/contact.png" />
                </div>
                <div class="col-sm-8 middle p-2">
                    <p class="text-center responsive-padding h5 main">
                        Email: intsikacp@gmail.com
                        Contact No (w): 041 379 2950
                        Contact No (c): 072 803 6145
                    </p>
                </div>
            </div>
            <div class="row borderBrown-sm ">
                <div class="col-sm-4 bgTeal p-2">
                    <img class="img-fluid" src="~/Content/Images/Contact/op hours.png" />
                </div>
                <div class="col-sm-8 p-2 middle">
                    <p class="align-self-center responsive-padding h5 main">
                        Operate Monday To Friday
                    </p>
                    <a href="https://localhost:44302/Programmes#schedule" class="btn btnSuccess mt-3 mb-2 px-5 mx-auto">View Programmes</a>
                </div>
            </div>
            <div class="row borderBrown-sm">
                <div class="col-sm-4 bgOrange p-2 "> <center><img class="img-fluid" src="~/Content/Images/Contact/site.png" /></center></div>
                <div class="col-sm-8 middle p-2">
                    <p class="text-center responsive-padding h5 main">
                        60 Nkanjeni Drive, Greenbushes, Gqeberha, 6390
                    </p>
                </div>
            </div>

        </div>
    </div>
</div>


@*======================================Our Location===================================*@
<h2 class="h1 text-capitalize main-heading w-100 text-center brown pt-5">Our Location</h2>
<div class="curve-teal w-90 px-5 mx-auto"></div>
<div class="container p-0 ">
    <iframe style="height:29rem; width:100%; border: 0; margin:0;"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3310.8526520421988!2d25.445254400000003!3d-33.91919169999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1e7ad99592cfe937%3A0xefc7800479d851d1!2s60%20Nkanjeni%20Dr%2C%20Greenbushes%2C%20Gqeberha%2C%206390!5e0!3m2!1sen!2sza!4v1650532904894!5m2!1sen!2sza" allowfullscreen=""
            loading="lazy">
    </iframe>
</div>


<script>
    var acc = document.getElementsByClassName("accordion");
    var i;

    for (i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var panel = this.nextElementSibling;
            if (panel.style.maxHeight) {
                panel.style.maxHeight = null;
            } else {
                panel.style.maxHeight = panel.scrollHeight + "px";
            }
        });
    }
</script>