@{
    ViewBag.Title = "Programmes";
}


<div class="mx-0 p-0 programmes-hero middle">
    <div class="middle pt-5">
        <h1 class="mt-0 mx-auto shadowBrown main-heading text-uppercase pt-5">STAY UP TO DATE</h1>
        <img src="~/Content/images/Programmes/pro-header-line.svg" class="mx-0 w-75  img-fluid" />
    </div>
</div>


<div class="container p-5 mb-5">
    <h2 class="h1 text-capitalize main-heading w-100 text-center brown pt-5">intsika Programmes</h2>
    <div class="curve-teal w-100"></div>

    <div class="container align-self-center text-center mb-5">
        <p class="sub-heading-main">
            We currently run two homework clubs (Grade 1-3 & Grade 4-7),
            a Grade R Assistance class, an adult Bible Study Group and a Friday Children’s Outreach.
            During the year we also have various food and clothing drives
            to assist the community as resources allow.
            Our community outreach also includes assisting two partnering crèches
            in the Greenbushes area namely, Siyazama Playschool and
            Kids Hope Day Care. Our aim is to help provide these crèches with
            a better learning environment through assisting with any practical needs
            when resources allow.
        </p>
    </div>
    <div class="align-self-center middle" id="schedule">
        <h2 class="text-uppercase main-subhead mt-5 pb-2 fontBlack shadowBrown">our weekly Programmes:</h2>
        <div class="container-fluid middle">
            <img src="~/Content/Images/Programmes/image 20.png" class="img-fluid" />
        </div>
    </div>

</div>

@*====================================================Values Section===============================*@

<div class="container px-2 middle py-5">
    <h2 class="h1 text-capitalize main-heading w-100 text-center brown pt-5">Explore our gallery</h2>
    <div class="curve-teal w-100"></div>
    <div class="row pb-5 px-5 clipContent-90vh">
        <div class="col-sm-3 middle px-3">
            <img src="~/Content/images/Programmes/gal1.png" class="mx-0 w-100 py-3  imgGrow img-fluid" />
            <img src="~/Content/images/Programmes/gal5.png" class="mx-0 w-100 py-3  imgGrow img-fluid" />
            <img src="~/Content/images/Programmes/gal9.png" class="mx-0 w-100 py-3  imgGrow img-fluid" />
            <img src="~/Content/images/Programmes/gal13.png" class="mx-0 w-100 py-3  imgGrow img-fluid" />
        </div>
        <div class="col-sm-3 middle px-3 pt-galleries">
            <img src="~/Content/images/Programmes/gal2.png" class="mx-0 w-100 py-3  imgGrow img-fluid" />
            <img src="~/Content/images/Programmes/gal6.png" class="mx-0 w-100 py-3  imgGrow img-fluid" />
            <img src="~/Content/images/Programmes/gal10.png" class="mx-0 w-100 py-3  imgGrow img-fluid" />
            <img src="~/Content/images/Programmes/gal14.png" class="mx-0 w-100 py-3  imgGrow img-fluid" />
           
        </div>
        <div class="col-sm-3 middle px-3">
            <img src="~/Content/images/Programmes/gal3.png" class="mx-0 w-100 py-3  imgGrow img-fluid" />
            <img src="~/Content/images/Programmes/gal7.png" class="mx-0 w-100 py-3  imgGrow img-fluid" />
            <img src="~/Content/images/Programmes/gal11.png" class="mx-0 w-100 py-3  imgGrow img-fluid" />
            <img src="~/Content/images/Programmes/gal15.png" class="mx-0 w-100 py-3  imgGrow img-fluid" />
           
        </div>
        <div class="col-sm-3 middle px-3 pt-galleries">
            <img src="~/Content/images/Programmes/gal4.png" class="mx-0 w-100 py-3  imgGrow img-fluid" />
            <img src="~/Content/images/Programmes/gal8.png" class="mx-0 w-100 py-3  imgGrow img-fluid" />
            <img src="~/Content/images/Programmes/gal12.png" class="mx-0 w-100 py-3  imgGrow img-fluid" />
            <img src="~/Content/images/Programmes/gal16.png" class="mx-0 w-100 py-3  imgGrow img-fluid" />
            
        </div>

    </div>
</div>



